section {
  background: sunset($pumpkin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
ul {
  @extend section;
  flex-wrap: wrap;
  li {
    color: $stem;
    font-family: 'Francois One', sans-serif;
    font-size: 1em;
    list-style: none;
  }
}
button {
  @include border ($stem, $cream);
  background-color: $cream;
  @include spacing(1em);
  color: $stem;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
}
